
<div> <!-- Menu principal -->
  <table class="menu">
    <tr> <!-- Buscador -->
      <td><b>Buscador pokémon:</b></td>
      <td>
        <div>
          <input [(ngModel)]="buscadorPokemon" (input)="buscarPokemon()" placeholder="Buscar Pokémon">
        </div>
      </td>
      <td></td>
      <td><b>Buscador avanzado:</b></td> <!-- Buscador para tipos -->
      <td>
        <button *ngIf="menuAbierto == false" (click)="abrirMenu()" class="botonOpciones"><img src="../../assets/img/pokeballCerrada.png"
            width="30px" /></button>
        <button *ngIf="menuAbierto == true" (click)="abrirMenu()" class="botonOpciones"><img src="../../assets/img/pokeballAbierta.png"
            width="30px" /></button>
      </td>
    </tr>
    <tr> <!-- Seleccionar generación -->
      <td>|</td>
      <td><b>Selecciona generación: </b></td>
      <td>
        <select [(ngModel)]="opcionSeleccionada" (change)="cambiarGeneracion()">
          
          <option value="1">Generación 1</option>
          <option value="2">Generación 2</option>
          <option value="3">Generación 3</option>
          <option value="4">Generación 4</option>
          <!-- Generaciones raretas
          <option value="0">Todas las generaciones</option>
          <option value="5">Generación 5</option>
          <option value="6">Generación 6</option>
          <option value="7">Generación 7</option>
          <option value="8">Generación 8</option>
          <option value="9">Generación 9</option>
        -->
        </select>
      </td>
    </tr>
    <tr> <!-- Seleccionar modo oscuro o modo claro -->
      <td>|</td>
      <td class="derecha">
        <button *ngIf="oscuro == false" (click)="modoOscuro()" class="botonOpciones"><img src="../../assets/img/pokeballSol.png"
            width="30px" /></button>
        <button *ngIf="oscuro == true" (click)="modoOscuro()" class="botonOpciones"><img src="../../assets/img/pokeballLuna.png"
            width="30px" /></button>
      </td>
      <td><b>{{textoOscuro}}</b></td>
  </table>
</div> <!-- Fin del menu principal -->
  <!-- Opciones del buscador avanzado -->
  <div class="menu" *ngIf="menuAbierto">
    <table  *ngIf="menuAbierto">
      <tr>
        <th colspan="9">Seleciona el tipo</th>
      </tr>
      <tr class="adaptarPantalla">
        <td class="fire"(click)="filtroTipos('fire')">Fuego</td>
        <td class="water"(click)="filtroTipos('water')">Agua</td>
        <td class="grass"(click)="filtroTipos('grass')">Planta</td>
        <td class="bug"(click)="filtroTipos('bug')" >Bicho</td>
        <td class="dark"(click)="filtroTipos('dark')" >Siniestro</td>
        <td class="dragon"(click)="filtroTipos('dragon')">Dragón</td>
        <td class="electric"(click)="filtroTipos('electric')">Eléctrico</td>
        <td class="fairy"(click)="filtroTipos('fairy')" >Hada</td>
        <td class="fighting"(click)="filtroTipos('fighting')">Lucha</td>
      </tr>
      <tr class="adaptarPantalla">
        <td class="flying"(click)="filtroTipos('flying')" >Volador</td>
        <td class="ghost"(click)="filtroTipos('ghost')" >Fantasma</td>
        <td class="ground"(click)="filtroTipos('ground')">Tierra</td>
        <td class="ice"(click)="filtroTipos('ice')">Hielo</td>
        <td class="normal"(click)="filtroTipos('normal')">Normal</td>
        <td class="poison"(click)="filtroTipos('poison')" >Veneno</td>
        <td class="psychic"(click)="filtroTipos('psychic')">Psíquico</td>
        <td class="rock"(click)="filtroTipos('rock')">Roca</td>
        <td class="steel"(click)="filtroTipos('steel')">Acero</td>
      </tr>
    </table>
  </div>

  <br> <!-- Espacio separatorio del menu y las tarjetas -->

<!-- Botón para cambiar a shiny 
<button (click)="cambiarImagen()">Cambiar Imagen</button>
-->
<!-- Tarjetas -->
<div class="tarjetasPokemon">
  <div class="fondoTarjeta btn" *ngFor="let pokemon of pokemons" >
    <table>
      <tr> <!-- Imagen -->
        <td colspan="2">
          <img src="{{pokemon.imagen}}" width="200px" >
    <!-- Imagen shiny 
          <img *ngIf="shiny" src="{{pokemon.shiny}}" width="200px" >
    -->
        </td>
      </tr>
      <!-- Resto de la tabla -->
      <tr>
       <!-- boton informacion de cada pokemon 
       <button>informacion</button> 
       --> 
        <!-- id -->
        <td colspan="2" class="letraId">N.º {{ pokemon.id }}</td>
      </tr>
      <tr> <!-- Nombre -->
        <td colspan="2" class="letraNombre">{{ pokemon.nombre }}</td>
      </tr>
      <tr> <!-- Tipos -->
        <td *ngFor="let tipo of pokemon.tipos" class="{{tipo}}">{{tipo}}</td>
      </tr>
    </table>
  </div>
</div>


