*{
  font-family: Arial, Helvetica, sans-serif;
}

button{
  border: none;
}

.noCuadrado{
  display: none;
}

.estiloBuscador{
  border-radius: 20px;
  padding: 3px 10px;
}

.menu{
  padding: 3px 10px;
  border-radius: 20px;
  text-align: center;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  }

  .adaptarPantalla{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .controlarImagen-cabecera{
    width: 400px;
  }

  .controlarImagen{
    width: 200px;
  }

  @media (max-width: 1024px) {
    /* Estilos para pantallas más pequeñas que 1024px de ancho */
    .controlarImagen{
      width: 150px;
    }

    .controlarImagen-cabecera{
      margin-top: 10px;
      width: 350px;
    }

    .menu td {
      display:inline-block;
    }
  }

  @media (max-width: 653px) {
    /* Estilos para pantallas más pequeñas que 1024px de ancho */
    .controlarImagen{
      width: 150px;
    }

    .controlarImagen-cabecera{
      margin-top: 10px;
      width: 200px;
    }

    .menu td {
      display:inline-block;
    }
  }

  .tarjetasPokemon {
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
  }

  .botonOpciones{
  background: none;
  border: none;
  cursor: pointer;
}
  
  .letraId {
    font-size: small;
    text-align: right;
    color: rgb(84, 85, 85);
  }
  .fondoTarjeta:hover .letraId {
    font-size: small;
    text-align: right;
    color: rgb(255, 255, 255);
  }
  
  .letraNombre {
    font-size: 20px;
    color: black;
  }

  .fondoTarjeta:hover .letraNombre {
    color: white;
  }

  .cajaBuscador {
    width: 100%;
    padding: 3px 10px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
  }

  .centro {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .btn {
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    background: white;
    font-size: 28px;
    transition: all 1s;
    &:after,
    &:before {
      content: " ";
      width: 10px;
      height: 10px;
      position: absolute;
      border: 0px solid #fff;
      transition: all 1s;
    }
    &:after {
      top: -1px;
      left: -1px;
      border-top:2px solid rgb(0, 0, 0);
      border-left: 2px solid rgb(0, 0, 0);
    }
    &:before {
      bottom: -1px;
      right: -1px;
      border-bottom: 2px solid rgb(0, 0, 0);
      border-right: 2px solid black;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.705);
      &:before,
      &:after {
        width: 100%;
        height: 100%;
        border-color: white;
      }
    }
  }
  
  /*Estilo de los elementos*/
  .fire, .water, .grass, .bug, .dark, .dragon, .electric, .fairy, .fighting, .flying, 
  .ghost, .ground, .ice, .normal, .poison, .psychic, .rock, .steel {
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    transition-duration: 0.4s;
    color: currentColor;
  }
  
  .fire {
    color: red;
    cursor: default;
    border-color: red;
  }
  
  .seleccionFire{
    padding-right: 5px;
    color: red;
    margin: auto;
  }

  .seleccionFire:checked + .seleccionFire-label {
    background-color: red; /* Cambiamos el color de fondo */
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }

  .water {
    color: rgb(55, 55, 243);
    cursor: default;
    border-color: rgb(55, 55, 243);
  }
  
  .seleccionWater{
    padding-right: 5px;
    color:rgb(55, 55, 243);
    margin: auto;
  }

  .seleccionWater:checked + .seleccionWater-label {
    background-color: rgb(55, 55, 243);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .grass {
    color: green;
    cursor: default;
    border-color:green;
  }

  .seleccionGrass{
    padding-right: 5px;
    color: green;
    margin: auto;
  }

  .seleccionGrass:checked + .seleccionGrass-label {
    background-color: green;
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }

  
  .bug {
    color: rgb(19, 88, 19);
    cursor: default;
    border-color:rgb(19, 88, 19);
  }
  
  .seleccionBug{
    padding-right: 5px;
    color: rgb(19, 88, 19);
    margin: auto;
  }

  .seleccionBug:checked + .seleccionBug-label {
    background-color: rgb(19, 88, 19);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .dark {
    color: rgb(76, 83, 76);
    cursor: default;
    border-color:rgb(76, 83, 76);
  }
  
  .seleccionDark{
    padding-right: 5px;
    color: rgb(76, 83, 76);
    margin: auto;
  }

  .seleccionDark:checked + .seleccionDark-label {
    background-color: rgb(76, 83, 76);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .dragon {
    color: rgb(88, 186, 186);
    cursor: default;
    border-color:rgb(88, 186, 186);
  }
  
  .seleccionDragon{
    padding-right: 5px;
    color: rgb(88, 186, 186);
    margin: auto;
  }

  .seleccionDragon:checked + .seleccionDragon-label {
    background-color: rgb(88, 186, 186);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .electric {
    color: rgb(215, 212, 0);
    cursor: default;
    border-color:rgb(215, 212, 0);
  }
  
  .seleccionElectric{
    padding-right: 5px;
    color: rgb(215, 212, 0);
    margin: auto;
  }

  .seleccionElectric:checked + .seleccionElectric-label {
    background-color: rgb(215, 212, 0);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .fairy{
    color: rgb(253, 94, 120);
    cursor: default;
    border-color:rgb(253, 94, 120);
  }
  
  .seleccionFairy{
    padding-right: 5px;
    color: rgb(253, 94, 120);
    margin: auto;
  }

  .seleccionFairy:checked + .seleccionFairy-label {
    background-color: rgb(253, 94, 120);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .fighting{
    color: rgb(253, 152, 0);
    cursor: default;
    border-color:rgb(253, 152, 0);
  }
  
  .seleccionFighting{
    padding-right: 5px;
    color: rgb(253, 152, 0);
    margin: auto;
  }

  .seleccionFighting:checked + .seleccionFighting-label {
    background-color: rgb(253, 152, 0);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .flying{
    color: rgb(123, 156, 247);
    cursor: default;
    border-color:rgb(123, 156, 247);
  }
  
  .seleccionFlying{
    padding-right: 5px;
    color: rgb(123, 156, 247);
    margin: auto;
  }

  .seleccionFlying:checked + .seleccionFlying-label {
    background-color: rgb(123, 156, 247);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .ghost{
    color: rgb(77, 48, 82);
    cursor: default;
    border-color:rgb(77, 48, 82);
  }
  
  .seleccionGhost{
    padding-right: 5px;
    color: rgb(77, 48, 82);
    margin: auto;
  }

  .seleccionGhost:checked + .seleccionGhost-label {
    background-color: rgb(77, 48, 82);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .ground{
    color: rgb(113, 74, 10);
    cursor: default;
    border-color:rgb(113, 74, 10);
  }
  
  .seleccionGround{
    padding-right: 5px;
    color: rgb(113, 74, 10);
    margin: auto;
  }

  .seleccionGround:checked + .seleccionGround-label {
    background-color: rgb(77, 48, 82);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .ice{
    color: rgb(5, 220, 216);
    cursor: default;
    border-color:rgb(5, 220, 216);
  }
  
  .seleccionIce{
    padding-right: 5px;
    color: rgb(5, 220, 216);
    margin: auto;
  }

  .seleccionIce:checked + .seleccionIce-label {
    background-color: rgb(5, 220, 216);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .normal{
    color: rgb(202, 160, 167);
    cursor: default;
    border-color:rgb(202, 160, 167);
  }
  
  .seleccionNormal{
    padding-right: 5px;
    color: rgb(202, 160, 167);
    margin: auto;
  }

  .seleccionNormal:checked + .seleccionNormal-label {
    background-color: rgb(202, 160, 167);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .poison{
    color: rgb(123, 33, 86);
    cursor: default;
    border-color:rgb(123, 33, 86);
  }
  
  .seleccionPoison{
    padding-right: 5px;
    color: rgb(123, 33, 86);
    margin: auto;
  }

  .seleccionPoison:checked + .seleccionPoison-label {
    background-color: rgb(123, 33, 86);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .psychic{
    color: rgb(205, 36, 135);
    cursor: default;
    border-color:rgb(205, 36, 135);
  }
  
  .seleccionPsychic{
    padding-right: 5px;
    color: rgb(205, 36, 135);
    margin: auto;
  }

  .seleccionPsychic:checked + .seleccionPsychic-label {
    background-color: rgb(205, 36, 135);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .rock{
    color: rgb(124, 81, 0);
    cursor: default;
    border-color:rgb(124, 81, 0);
  }
  
  .seleccionRock{
    padding-right: 5px;
    color: rgb(124, 81, 0);
    margin: auto;
  }

  .seleccionRock:checked + .seleccionRock-label {
    background-color: rgb(124, 81, 0);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }
  
  .steel{
    color: rgb(143, 154, 140);
    cursor: default;
    border-color:rgb(143, 154, 140);
  }
  
  .seleccionSteel{
    padding-right: 5px;
    color: rgb(143, 154, 140);
    margin: auto;
  }

  .seleccionSteel:checked + .seleccionSteel-label {
    background-color: rgb(143, 154, 140);
    color: white; /* Cambiamos el color de la letra */
    margin: 4px 2px;  /* Margen del primer valor arriba y abajo. Segundo valor margen de izquierda y derecha */
    padding: 4px 10px;  /* Espacio entre los elementos */
    border-radius: 20px; /* Radio que ge genera en los bordes del border (Efecto de redondeo)  */
    transition-duration: 0.4s; /* Duración de la transición */
  }

  .fondoTarjeta:hover .fire {
    /* hover en tarjeta y boton */
    background-color:red; /* Cambia #color del fondo */
    color: white; /* Cambia el color de texto */
  }
  
  .fondoTarjeta:hover .water {
    background-color: rgb(55, 55, 243);
    color: white;
  }
  
  .fondoTarjeta:hover .grass {
    background-color: green;
    color: white;
  }
  
  .fondoTarjeta:hover .bug {
    background-color: rgb(19, 88, 19);
    color: white;
  }
  
  .fondoTarjeta:hover .dark {
    background-color: rgb(31, 34, 31);
    color: white;
  }
  
  .fondoTarjeta:hover .dragon {
    background-color: rgb(88, 186, 186);
    color: white;
  }
  
  .fondoTarjeta:hover .electric {
    background-color: rgb(215, 212, 0);
    color: white;
  }
  
  .fondoTarjeta:hover .fairy {
    background-color:  rgb(253, 94, 120);
    color: white;
  }
  
  .fondoTarjeta:hover .fighting {
    background-color: rgb(253, 152, 0);
    color: white;
  }
  
  .fondoTarjeta:hover .flying {
    background-color: rgb(123, 156, 247);
    color: white;
  }
  
  .fondoTarjeta:hover .ghost {
    background-color: rgb(77, 48, 82);
    color: white;
  }
  
  .fondoTarjeta:hover .ground {
    background-color: rgb(113, 74, 10);
    color: white;
  }
  
  .fondoTarjeta:hover .ice {
    background-color: rgb(5, 220, 216);
    color: white;
  }
  
  .fondoTarjeta:hover .normal {
    background-color: rgb(202, 160, 167);
    color: white;
  }
  
  .fondoTarjeta:hover .poison {
    background-color: rgb(123, 33, 86);
    color: white;
  }
.letraNombre
  .fondoTarjeta:hover .psychic {
    background-color: rgb(205, 36, 135);
    color: white;
  }
  
  .fondoTarjeta:hover .rock {
    background-color: rgb(124, 81, 0);
    color: white;
  }
  
  .fondoTarjeta:hover .steel {
    background-color: rgb(143, 154, 140);
    color: white;
  }

