
  <div>
  <table class="centro">
    <tr>
      <td><b>Buscador pokémon:</b></td>
      <td>
        <div>
          <input [(ngModel)]="buscadorPokemon" (input)="buscarPokemon()" placeholder="Buscar Pokémon por nombre">
        </div>
      </td>
      <td></td>
  <td><b>Buscador avanzado:</b></td><!-- para tipos -->
  <td>
    <button *ngIf="menuAbierto == false" (click)="abrirMenu()"><img src="../../assets/img/pokeballCerrada.png"
        width="30px" /></button>
    <button *ngIf="menuAbierto == true" (click)="abrirMenu()"><img src="../../assets/img/pokeballAbierta.png"
        width="30px" /></button>
  </td>
  </tr>
  <div>
    <select [(ngModel)]="opcionSeleccionada" (change)="cambiarOpcion()">
      <option value="0">Todas las generaciones</option>
      <option value="1">Generación 1</option>
      <option value="2">Generación 2</option>
      <option value="3">Generación 3</option>
      <option value="4">Generación 4</option>
      <option value="5">Generación 5</option>
      <option value="6">Generación 6</option>
      <option value="7">Generación 7</option>
      <option value="8">Generación 8</option>
      <option value="9">Generación 9</option>
    </select>
  </div>
  <tr>
    <td>|</td>
    <td class="derecha">
      <button *ngIf="oscuro == false" (click)="modoOscuro()"><img src="../../assets/img/pokeballSol.png"
        width="30px" /></button>
    <button *ngIf="oscuro == true" (click)="modoOscuro()"><img src="../../assets/img/pokeballLuna.png"
        width="30px" /></button>
    </td>
    <td><b>{{textoOscuro}}</b></td>
  </tr>
  </table>

  </div>
  <!-- Opciones del buscador avanzado -->
  <div class="centro" *ngIf="menuAbierto">

    <table>
      <tr>
        <td class="fire"(click)="filtroTipos('fire')">Fuego</td>
        <td class="water"(click)="filtroTipos('water')">Agua</td>
        <td class="grass"(click)="filtroTipos('grass')">Planta</td>
        <td class="bug"(click)="filtroTipos('bug')" >Bicho</td>
        <td class="dark"(click)="filtroTipos('dark')" >Siniestro</td>
        <td class="dragon"(click)="filtroTipos('dragon')">Dragón</td>
        <td class="electric"(click)="filtroTipos('electric')">Eléctrico</td>
        <td class="fairy"(click)="filtroTipos('fairy')" >Hada</td>
        <td class="fighting"(click)="filtroTipos('fighting')">Lucha</td>
      </tr>
      <tr>
        <td class="flying"(click)="filtroTipos('flying')" >Volador</td>
        <td class="ghost"(click)="filtroTipos('ghost')" >Fantasma</td>
        <td class="ground"(click)="filtroTipos('ground')">Tierra</td>
        <td class="ice"(click)="filtroTipos('ice')">Hielo</td>
        <td class="normal"(click)="filtroTipos('normal')">Normal</td>
        <td class="poison"(click)="filtroTipos('poison')" >Veneno</td>
        <td class="psychic"(click)="filtroTipos('psychic')">Psíquico</td>
        <td class="rock"(click)="filtroTipos('rock')">Roca</td>
        <td class="steel"(click)="filtroTipos('steel')">Acero</td>
      </tr>
    </table>
  </div>

  <!-- Tarjetas -->
  <div class="tarjetasPokemon">
    <table *ngFor="let pokemon of pokemons" class="fondoTarjeta">
      <tr> <!-- Imagen -->
        <td colspan="2">
          <img src="{{pokemon.imagen}}" width="200px" />
        </td>
      </tr>
      <tr> <!-- id -->
        <td colspan="2" class="letraId">N.º {{ pokemon.id }}</td>
      </tr>
      <tr> <!-- Nombre -->
        <td colspan="2" class="letraNombre">{{ pokemon.nombre }}</td>
      </tr>
      <tr> <!-- Tipos -->
        <td *ngFor="let tipo of pokemon.tipos" class="{{tipo}}">{{tipo}}</td>
      </tr>
    </table>

  </div>

