<body class="fondoCesped">
  <div class="fondoCesped">

    <div> <!-- Video fondo -->
      <video src="../../assets/video/FondoDatosPokemon2.mp4" autoplay muted loop class="video-foreground"></video>
    </div>

    <div class="adaptarPantallaMenu"><!-- Botones -->
      <table>
        <tr> <!-- Botón para anterior pokemon -->
          <td><button class="btn-Video" *ngIf="botonActivoInicio == true" (click)="anteriorPokemon()">Anterior</button>
          </td>
        </tr>
      </table>
      <table>
        <tr> <!-- Botón para volver a la lista -->
          <td> <button class="btn-Video" [routerLink]="'/listado'">Volver</button></td>
        </tr>
      </table>
      <table>
        <tr> <!-- Botón para siguiente pokemon -->
          <td><button class="btn-Video" *ngIf="botonActivoFinal == true" (click)="siguientePokemon()"
              (mousehover)="botonActivo()">Siguiente</button></td>
        </tr>
      </table>
    </div>

    <br>

    <div class="adaptarPantalla"> <!-- Carta pokemon -->
      <div class="charizard">
        <div class="perspective">
          <div class="{{pokemon.tipos[0]}}{{pokemon.tipos[1]}} {{pokemon.tipos[0]}} carta_fondo">
            <div class="power">ID: {{pokemon.id}}</div>
            <div class="nombre">
              <h2>{{pokemon.nombre}}</h2>
            </div>

            <div class="img_charizard"><img src="{{pokemon.imagen}}" width="100%"></div>

            <div class="descripcion">
              <h3>Peso: {{(pokemon.peso/10)}}kg | Altura: {{(pokemon.altura/10)}}m</h3>
            </div>

            <div class="Habilidad">
              <h4>Descripción:</h4>
            </div>

            <div class="Habilidad_detalle">{{pokemon.descripcion}}</div>

            <br>

            <div>
              <span *ngFor="let tipo of pokemon.tipos" class="{{tipo}}Letter resistencia mayuscula"> {{tipo}}</span>
            </div>
            <br>

          </div>

        </div> <!-- Para que aparezca al lado de la carta -->

        <!-- Estadísticas pokémon -->
        <div class="texto-sombra letra-mediana adaptarPantalla">
          <div class="caja-padre">
            <div class="contenedor">
              <h2>Estadísticas</h2>

              <div class="skills">
                <div class="detalles">
                  <span>Vida </span>
                  <span>{{pokemon.vida}}</span>
                </div>

                <div class="menu">
                  <div id="vida-menu" [style.width]="calcularAnchoVida()"></div>
                </div>
              </div>

              <div class="skills">
                <div class="detalles">
                  <span>Ataque </span>
                  <span>{{pokemon.ataque}}</span>
                </div>

                <div class="menu">
                  <div id="ataque-menu" [style.width]="calcularAnchoAtaque()"></div>
                </div>
              </div>

              <div class="skills">
                <div class="detalles">
                  <span>Defensa </span>
                  <span>{{pokemon.defensa}}</span>
                </div>

                <div class="menu">
                  <div id="defensa-menu" [style.width]="calcularAnchoDefensa()"></div>
                </div>
              </div>

              <div class="skills">
                <div class="detalles">
                  <span>AtqEspecial </span>
                  <span>{{pokemon.atqEspecial}}</span>
                </div>

                <div class="menu">
                  <div id="atqEspecial-menu" [style.width]="calcularAnchoAtqEspecial()"></div>
                </div>
              </div>

              <div class="skills">
                <div class="detalles">
                  <span>DefEspecial </span>
                  <span>{{pokemon.defEspecial}}</span>
                </div>

                <div class="menu">
                  <div id="defEspecial-menu" [style.width]="calcularAnchoDefEspecial()"></div>
                </div>
              </div>

              <div class="skills">
                <div class="detalles">
                  <span>Velocidad </span>
                  <span>{{pokemon.velocidad}}</span>
                </div>

                <div class="menu">
                  <div id="velocidad-menu" [style.width]="calcularAnchoVelocidad()"></div>
                </div>
              </div>

              <div class="detalles detallesResistencias">
                <b>Muy resistente </b>
                <span *ngFor="let muyResistente of this.muyResistente">{{muyResistente}} </span>
              </div>

              <div class="detalles detallesResistencias">
                <b>Resistente </b>
                <span *ngFor="let fortaleza of this.fortalezasAux">{{fortaleza}} </span>
              </div>

              <div class="detalles detallesResistencias">
                <b>Eficaz </b>
                <span *ngFor="let debil of this.debilidadesAux">{{debil}} </span>
              </div>

              <div class="detalles detallesResistencias">
                <b>Muy Eficaz </b>
                <span *ngFor="let muyEficaz of this.muyEficaz">{{muyEficaz}} </span>
              </div>

              <div class="detalles detallesResistencias">
                <b>Inmune </b>
                <span *ngFor="let inmune of this.inmunidadAux">{{inmune}} </span>
              </div>

            </div>
            <div>
            </div>
          </div>
        </div>

        <div class="estiloNormal"><img src="{{pokemon.shiny}}" width="100px"></div>
        <div class="estiloShiny"><img src="{{pokemon.animado}}" width="100px"></div>
      </div> <!-- Lo que este debajo de esto se pone debajo de la carta -->
    </div>

    <br><br><br><br><br><br><br>

    <div class="fondoCesped">
      <div>
        <h2 class="estiloTituloEvo texto-sombra">Evoluciones</h2>
        <div class="adaptarEvoluciones mayuscula texto-sombra">
          <div *ngFor="let evolucion of this.evoluciones"><h3>{{evolucion.nombre}}</h3></div>
        </div>

        <div class="adaptarEvoluciones">
          <img *ngFor="let imagenEvo of this.evoluciones" [src]="imagenEvo.imagen" width="100px">
        </div>

        <div class="adaptarEvoluciones texto-sombra">
          <div *ngFor="let evolucion of evoluciones">
            <div *ngIf="evolucion.triggers && evolucion.triggers.length > 0">
              <div *ngFor="let trigger of evolucion.triggers">
                <div
                  *ngIf="trigger.gender || trigger.held_item || trigger.item || trigger.known_move 
                  || trigger.known_move_type || trigger.location || trigger.min_affection 
                  || trigger.min_beauty || trigger.min_happiness || trigger.min_level || trigger.needs_overworld_rain 
                  || trigger.party_species || trigger.party_type || trigger.relative_physical_stats || trigger.time_of_day 
                  || trigger.trade_species || trigger.trigger ">
                  
                  <p *ngIf="trigger.trigger">{{ trigger.trigger.name}}</p>
                  <p *ngIf="trigger.gender">Genero: {{ trigger.gender }}</p>
                  <p *ngIf="trigger.held_item">Tener item: {{ trigger.held_item.name }}</p>
                  <p *ngIf="trigger.item">Item: {{ trigger.item.name }}</p>
                  <p *ngIf="trigger.known_move">Movimiento conocido: {{ trigger.known_move }}</p>
                  <p *ngIf="trigger.known_move_type">T. movimiento conocido: {{trigger.known_move_type.name }}</p>
                  <p *ngIf="trigger.location">Localización: {{ trigger.location.name }}</p>
                  <p *ngIf="trigger.min_affection">Afecto: {{ trigger.min_affection }}</p>
                  <p *ngIf="trigger.min_beauty">Belleza: {{ trigger.min_beauty }}</p>
                  <p *ngIf="trigger.min_happiness">Felicidad: {{ trigger.min_happiness }}</p>
                  <p *ngIf="trigger.min_level">Nivel: {{ trigger.min_level}}</p>
                  <p *ngIf="trigger.needs_overworld_rain">Lluvia: {{ trigger.needs_overworld_rain}}</p>
                  <p *ngIf="trigger.party_species">Party Species: {{ trigger.party_species }}</p>
                  <p *ngIf="trigger.party_type">Equipo tipo: {{ trigger.party_type }}</p>
                  <p *ngIf="trigger.relative_physical_stats">Stats: {{ trigger.relative_physical_stats }}</p>
                  <p *ngIf="trigger.time_of_day">Hora del día: {{ trigger.time_of_day }}</p>
                  <p *ngIf="trigger.trade_species">Intercambio: {{ trigger.trade_species }}</p>
                  <p *ngIf="trigger.turn_upside_down">Giroscopio: {{ trigger.trigger.turn_upside_down}}</p>

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>


  </div> <!-- Fin HTML -->
</body>