<!-- Datos pokemon -->
<div class="colorFondo">
  <video src="../../assets/video/FondoDatosPokemon2.mp4" autoplay muted loop class="video-foreground"></video>
  <div class="texto-sobre-video centrar">
    <table class="margen-top fondoCarta">
      <tr>
        <td><h2 class="efecto-sombra">{{pokemon.nombre}}</h2></td>
        <td><h2 class="efecto-sombra">Id {{pokemon.id}}</h2></td>
      </tr>
      <tr>
        <td colspan="2" align="center"> <!-- Imagen -->
          <img src="{{pokemon.imagen}}" width="250px">
        </td>
      </tr>
      <tr>
        <td *ngFor="let tipo of pokemon.tipos "class="{{tipo}}">{{tipo}}</td>
      </tr>
    </table>
  </div>
</div>