  .adaptarPantalla{
    text-align: center;
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .mayuscula{
    text-transform: capitalize;
  }

  .meter-izquierda{
   margin-left: -180px;
  }

  .meter-arriba{
    margin-top: -400px;
  }

  .meter-unPoco-arriba{
    margin-top: -100px;
  }

  .letra-mediana{
    font-size: large;
    letter-spacing: 2px;
  }

  .texto-sombra{
    cursor: default;
    text-shadow: 2px 2px 2px #000;
    color: white;
  }

.btn-Video {
  color: #fff;
  background-color: #7BD6FF;
  border: none;
  border-bottom: 1px solid;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
}

.videoFondo {
  position: relative;
  width: 100%;
  height: 100%; /* Esto asegura que el contenedor sea del tamaño de la ventana */
  overflow: hidden;
}

.video-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Asegura que el video esté detrás de otros elementos */
}

.habilidad_detalle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.charizard {
  height: 0%; /* Ajustado a porcentaje para hacerlo proporcional */
  width:100%; /* Ajustado a porcentaje para hacerlo proporcional */
  display:flex;
  justify-content:left;
  align-items: center;
  margin-left: 60px;
}

.carta_fondo {
  height: 80%; 
  width: 60%; 
  background-color: #ffe659c9;
  border-radius: 5%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
  cursor: pointer;
  
}

.img_charizard {
  height: 50%; /* Cambiado a porcentaje para hacerlo proporcional */
  width: 80%; /* Cambiado a porcentaje para hacerlo proporcional */
  background-size: cover;
  z-index: 2;
  position: relative; /* Cambiado a relative */
  border: 3px solid rgb(194, 193, 193); /* Cambiado a porcentaje para hacerlo proporcional */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}

.img_charizard img {
  max-width: 100%;
}

.nombre {
  text-transform: capitalize;
  position: relative;
  margin-top: 0%; /* Ajustado para que sea relativo al tamaño de la carta */
  right: 30%; /* Ajustado para que sea relativo al tamaño de la carta */
}

.power {
  margin-top:5% ;margin-top:5% ;
  margin-bottom: -10%;
  font-size: larger;
  position: relative;
  z-index: 3;
  top: 20%; /* Ajustado para que sea relativo al tamaño de la carta */
  right: -30%; /* Ajustado para que sea relativo al tamaño de la carta */
}

.descripcion {
  font-size:small; /* Ajustado a porcentaje para hacerlo proporcional */
  height:3px;
  width: 80%;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
  background-image: radial-gradient(rgb(220, 218, 218),rgb(193, 189, 189));
  border-radius: 17%;
}

.Habilidad {
  font-size:larger;
  margin-top: 2%; /* Ajustado para que sea relativo al tamaño de la carta */
  margin-right: 60%; /* Ajustado para que sea relativo al tamaño de la carta */
}

.desrrollo{
  font-size:medium;
  text-align: center;
  padding: 10px;
}

.resistencia {
  top: -5%; /* Ajustado para que sea relativo al tamaño de la carta */
  right: -10%; /* Ajustado para que sea relativo al tamaño de la carta */
  white-space: nowrap;  /* Evita el salto de línea */
}

/* Color tipos pokemon */
  .fire, .water, .grass, .bug, .dark, .dragon, .electric, .fairy, .fighting, .flying, 
  .ghost, .ground, .ice, .normal, .poison, .psychic, .rock, .steel {
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    transition-duration: 0.4s;
    color: currentColor;
  }

  .fire {
    color: red;
    cursor: default;
    border-color: red;
  }

  .fire:hover{
    background-color:red; /* Cambia #color del fondo */
    color: white; /* Cambia el color de texto */
  }

  .fireLetter{
    color: white;
    border-color: red;
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .water {
    color: rgb(55, 55, 243);
    cursor: default;
    border-color: rgb(55, 55, 243);
  }

  .water:hover{
    background-color:rgb(55, 55, 243);
    color: white; 
  }

  .waterLetter{
    color: white;
    border-color: rgb(55, 55, 243);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .grass {
    color: green;
    cursor: default;
    border-color:green;
  }

  .grass:hover{
    background-color:green;
    color: white; 
  }

  .grassLetter{
    color: white;
    border-color: rgb(19, 88, 19);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .bug {
    color: rgb(19, 88, 19);
    cursor: default;
    border-color:rgb(19, 88, 19);
  }

  .bug:hover{
    background-color:rgb(19, 88, 19);
    color: white; 
  }

  .bugLetter{
    color: white;
    border-color: rgb(19, 88, 19);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .dark {
    color: rgb(76, 83, 76);
    cursor: default;
    border-color:rgb(76, 83, 76);
  }

  .dark:hover{
    background-color:rgb(76, 83, 76);
    color: white; 
  }

  .darkLetter{
    color: white;
    border-color: rgb(76, 83, 76);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .dragon {
    color: rgb(88, 186, 186);
    cursor: default;
    border-color:rgb(88, 186, 186);
  }

  .dragon:hover{
    background-color:rgb(88, 186, 186);
    color: white; 
  }

  .dragonLetter{
    color: white;
    border-color: rgb(88, 186, 186);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .electric {
    color: rgb(215, 212, 0);
    cursor: default;
    border-color:rgb(215, 212, 0);
  }

  .electric:hover{
    background-color:rgb(215, 212, 0);
    color: white; 
  }

  .electricLetter{
    color: white;
    border-color: rgb(215, 212, 0);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .fairy{
    color: rgb(253, 94, 120);
    cursor: default;
    border-color:rgb(253, 94, 120);
  }

  .fairy:hover{
    background-color:rgb(253, 94, 120);
    color: white; 
  }

  .fairyLetter{
    color: white;
    border-color: rgb(253, 94, 120);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .fighting{
    color: rgb(253, 152, 0);
    cursor: default;
    border-color:rgb(253, 152, 0);
  }

  .fighting:hover{
    background-color:rgb(253, 152, 0);
    color: white; 
  }

  .fightingLetter{
    color: white;
    border-color: rgb(253, 152, 0);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .flying{
    color: rgb(123, 156, 247);
    cursor: default;
    border-color:rgb(123, 156, 247);
  }

  .flying:hover{
    background-color:rgb(123, 156, 247);
    color: white; 
  }

  .flyingLetter{
    color: white;
    border-color: rgb(123, 156, 247);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .ghost{
    color: rgb(77, 48, 82);
    cursor: default;
    border-color:rgb(77, 48, 82);
  }

  .ghost:hover{
    background-color:rgb(77, 48, 82);
    color: white; 
  }

  .ghostLetter{
    color: white;
    border-color: rgb(77, 48, 82);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .ground{
    color: rgb(113, 74, 10);
    cursor: default;
    border-color:rgb(113, 74, 10);
  }

  .ground:hover{
    background-color:rgb(113, 74, 10);
    color: white; 
  }

  .groundLetter{
    color: white;
    border-color: rgb(113, 74, 10);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }
    
  .ice{
    color: rgb(5, 220, 216);
    cursor: default;
    border-color:rgb(5, 220, 216);
  }

  .ice:hover{
    background-color:rgb(5, 220, 216);
    color: white; 
  }

  .iceLetter{
    color: white;
    border-color: rgb(5, 220, 216);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .normal{
    color: rgb(202, 160, 167);
    cursor: default;
    border-color:rgb(202, 160, 167);
  }

  .normal:hover{
    background-color:rgb(202, 160, 167);
    color: white; 
  }

  .normalLetter{
    color: white;
    border-color: rgb(202, 160, 167);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .poison{
    color: rgb(123, 33, 86);
    cursor: default;
    border-color:rgb(123, 33, 86);
  }

  .poison:hover{
    background-color:rgb(123, 33, 86);
    color: white; 
  }

  .poisonLetter{
    color: white;
    border-color: rgb(123, 33, 86);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .psychic{
    color: rgb(205, 36, 135);
    cursor: default;
    border-color:rgb(205, 36, 135);
  }

  .psychic:hover{
    background-color:rgb(205, 36, 135);
    color: white; 
  }

  .psychicLetter{
    color: white;
    border-color: rgb(205, 36, 135);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .rock{
    color: rgb(124, 81, 0);
    cursor: default;
    border-color:rgb(124, 81, 0);
  }

  .rock:hover{
    background-color:rgb(124, 81, 0);
    color: white; 
  }

  .rockLetter{
    color: white;
    border-color: rgb(124, 81, 0);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .steel{
    color: rgb(143, 154, 140);
    cursor: default;
    border-color:rgb(143, 154, 140);
  }

  .steel:hover{
    background-color:rgb(143, 154, 140);
    color: white; 
  }

  .steelLetter{
    color: white;
    border-color: rgb(143, 154, 140);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }