  .adaptarPantallaMenu{
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .adaptarPantalla{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .adaptarPantallaGeneral {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }

  .fondoCesped{
    background-color: #80b770;
    z-index: -1;
  }

  .mayuscula{
    text-transform: capitalize;
  }

  .estiloShiny{
    z-index: 1;
    margin-top: 450px;
  }

  .estiloNormal{
    margin-top: 450px;
    transform: scaleX(-1);
  }

  .letra-mediana{
    font-size: large;
    letter-spacing: 2px;
  }

  .texto-sombra{
    cursor: default;
    text-shadow: 3px 3px 20px black;
    color: white;
  }

  .tablaDatos{
    border-radius: 5px;
  }

  .separacionDatos{
    padding-right: 20px;
  }

/* CSS tabla de datos estadísticas */

.caja-padre{
  width: 40%;
  min-width: 590px;
  z-index: 1;
}

.contenedor{
  margin-top: 10px;
  padding: 30px 30px;
  background: #035d873d;
  border-radius: 10px;
}

.skills:not(:last-child){
  margin-bottom: 5px;
}

.detalles{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu{
  position: relative;
  border: 1px solid rgb(255, 162, 0);
  border-radius: 20px;
}

.menu div{
  position: relative;
  width: 0;
  height: 8px;
  border-radius: 10px;
  background-color: rgb(0, 255, 47);
}

.detallesResistencias{
  margin-top: 10px;
}

#vida-menu, #ataque-menu, #defensa-menu, #atqEspecial-menu, #defEspecial-menu,
#velocidad-menu{
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    width: 0%;
  }
}

/* Cierre tabla de datos estadísticas */

/* Css evoluciones */

.estiloTituloEvo {
  text-align: center;
}

.adaptarEvoluciones {
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.adaptarEvoluciones img {
  max-width: 100%; 
  height: auto;
}

.controlEvo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenedorEvo{
  margin-top: 10px;
  padding: 30px 40px 50px;
  background: #035d873d;
  border-radius: 10px;
  border: 3px solid white;
}

.click{
  cursor: pointer;
}
/* Cierre css evoluciones */

/*  Tabla movimientos */
.centrar-tabla {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablaMov td{
  padding-right: 10px;
  padding-bottom: 5px;
  text-align:center;
  padding-left: 5px;
}

/* Cierre tabla movimientos */

@media (max-width: 1024px) {
  .caja-padre{
    width: 30%;
    min-width: 390px;
    z-index: 1;
  }

}

@media (max-width: 653px) {
  .caja-padre{
    width: 20%;
    min-width: 290px;
    z-index: 1;
  }
}

.btn-Video {
  color: #fff;
  background-color: #7BD6FF;
  border: none;
  border-bottom: 1px solid;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
}

.videoFondo {
  position: relative;
  width: 100%;
  height: 100%; /* Esto asegura que el contenedor sea del tamaño de la ventana */
  overflow: hidden;
}

.video-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Asegura que el video esté detrás de otros elementos */
}

.habilidad_detalle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.charizard {
  margin-top: 25px;
  margin-left: 45px;
  margin-right: -95px;
  height: 80%;
  width:100%;
  display:flex;
  justify-content:left;
  align-items: center;
}

.carta_fondo {
  height: 80%; 
  width: 50%; 
  border-radius: 5%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
}

.img_charizard {
  width: 200px;
  background-size: cover;
  z-index: 2;
  position: relative; 
  border: 3px solid rgb(194, 193, 193); 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}

.nombre {
  text-transform: capitalize;
  position: relative;
  margin-top: 0%; /* Ajustado para que sea relativo al tamaño de la carta */
  right: 30%; /* Ajustado para que sea relativo al tamaño de la carta */
}

.power {
  margin-top:5% ;
  margin-bottom: -10%;
  font-size: larger;
  position: relative;
  z-index: 3;
  top: 20%; /* Ajustado para que sea relativo al tamaño de la carta */
  right: -30%; /* Ajustado para que sea relativo al tamaño de la carta */
}

.descripcion {
  font-size:small; /* Ajustado a porcentaje para hacerlo proporcional */
  height:3px;
  width: 80%;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
  background-image: radial-gradient(rgb(220, 218, 218),rgb(193, 189, 189));
  border-radius: 17%;
}

.Habilidad {
  font-size:larger;
  margin-top: 2%; /* Ajustado para que sea relativo al tamaño de la carta */
  margin-right: 60%; /* Ajustado para que sea relativo al tamaño de la carta */
}

.desrrollo{
  font-size:medium;
  text-align: center;
  padding: 10px;
}

.resistencia {
  top: -5%; /* Ajustado para que sea relativo al tamaño de la carta */
  right: -10%; /* Ajustado para que sea relativo al tamaño de la carta */
  white-space: nowrap;  /* Evita el salto de línea */
}

/* Color tipos pokemon */
  .fire, .water, .grass, .bug, .dark, .dragon, .electric, .fairy, .fighting, .flying, 
  .ghost, .ground, .ice, .normal, .poison, .psychic, .rock, .steel {
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    transition-duration: 0.4s;
    color: currentColor;
  }

  .fire {
    color: white;
    cursor: default;
    border-color: white;
    background: radial-gradient(circle ,rgb(255, 193, 193), red);
  }

  .fire:hover, .water:hover, .grass:hover, .bug:hover, .dark:hover, .dragon:hover,
  .electric:hover,  .fairy:hover, .fighting:hover, .flying:hover,  .ghost:hover,
  .ground:hover, .ice:hover, .normal:hover,  .poison:hover, .psychic:hover,
  .rock:hover, .steel:hover {
    animation: subirBajar 1s infinite alternate;
  }

  .fireLetter{
    color: white;
    border-color: red;
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .water {
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(159, 159, 255), rgb(55, 55, 243));
  }

  .waterLetter{
    color: white;
    border-color: rgb(55, 55, 243);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .grass {
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(211, 255, 211), green);
  }

  .grassLetter{
    color: white;
    border-color: rgb(19, 88, 19);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .bug {
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(211, 255, 211), rgb(19, 88, 19));
  }

  .bugLetter{
    color: white;
    border-color: rgb(19, 88, 19);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .dark {
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(187, 190, 187), rgb(47, 52, 47));
  }

  .darkLetter{
    color: white;
    border-color: rgb(76, 83, 76);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .dragon {
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(173, 235, 235), rgb(12, 122, 139));
  }

  .dragonLetter{
    color: white;
    border-color: rgb(88, 186, 186);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .electric {
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(255, 251, 0), rgb(182, 179, 0));
  }

  .electricLetter{
    color: white;
    border-color: rgb(215, 212, 0);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .fairy{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(251, 169, 183), rgb(253, 94, 120));
  }

  .fairyLetter{
    color: white;
    border-color: rgb(253, 94, 120);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .fighting{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(255, 207, 135), rgb(253, 152, 0));
  }

  .fightingLetter{
    color: white;
    border-color: rgb(253, 152, 0);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .flying{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(187, 205, 255), rgb(123, 156, 247));
  }

  .flyingLetter{
    color: white;
    border-color: rgb(123, 156, 247);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .ghost{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(228, 165, 239), rgb(77, 48, 82));
  }

  .ghostLetter{
    color: white;
    border-color: rgb(77, 48, 82);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .ground{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(155, 128, 86), rgb(113, 74, 10));
  }

  .groundLetter{
    color: white;
    border-color: rgb(113, 74, 10);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }
    
  .ice{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(162, 240, 239), rgb(5, 220, 216));
  }

  .iceLetter{
    color: white;
    border-color: rgb(5, 220, 216);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .normal{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(246, 209, 216), rgb(202, 160, 167));
  }

  .normalLetter{
    color: white;
    border-color: rgb(202, 160, 167);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .poison{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(175, 104, 145), rgb(123, 33, 86));
  }

  .poisonLetter{
    color: white;
    border-color: rgb(123, 33, 86);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .psychic{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(245, 130, 197), rgb(205, 36, 135));
  }

  .psychicLetter{
    color: white;
    border-color: rgb(205, 36, 135);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .rock{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(128, 99, 47), rgb(124, 81, 0));
  }

  .rockLetter{
    color: white;
    border-color: rgb(124, 81, 0);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .steel{
    color: white;
    cursor: default;
    background: radial-gradient(circle ,rgb(207, 220, 203), rgb(143, 154, 140));
  }

  .steelLetter{
    color: white;
    border-color: rgb(143, 154, 140);
    font-size: medium;
    text-align: center;
    margin: 4px 2px;
    padding: 3px 10px;
    border: 3px solid;
    border-radius: 20px;
    color: currentColor;
  }

  .grasspoison:hover, .poisongrass:hover,  .grasspsychic:hover, .psychicgrass:hover,
  .fireflying:hover, .flyingfire:hover, .bugpoison:hover, .poisonbug:hover,
  .bugflying:hover, .flyingbug:hover, .buggrass:hover, .grassbug:hover,
  .normalflying:hover, .flyingnormal:hover, .poisonground:hover, .groundpoison:hover,
  .poisonflying:hover, .flyingpoison:hover,  .normalfairy:hover, .fairynormal:hover,
  .waterfighting:hover, .fightingwater:hover,  .waterpoison:hover, .poisonwater:hover,
  .waterpsychic:hover, .psychicwater:hover, .waterice:hover, .icewater:hover,
  .rockground:hover, .groundrock:hover,  .electricsteel:hover, .steelelectric:hover,
  .gostpoison:hover, .poisonghost:hover, .psychicfairy:hover, .fairypsychic:hover,
  .bugflying:hover, .flyingbug:hover, .icepsychic:hover, .psychicice:hover,
  .waterflying:hover, .flyingwater:hover, .rockwater:hover, .waterrock:hover,
  .rockflying:hover, .flyingrock:hover, .iceflying:hover, .flyinice:hover,
  .electricflying:hover, .flyingelectric:hover, .dragonflying:hover, .flyingdragon:hover,
  .bugpoison:hover, .poisonbug:hover,.waterelectric:hover, .electricwater:hover,
  .fairyflying:hover, .flyingfairy:hover,  .psychicflying:hover, .flyingpsychic:hover,
  .psychicflying:hover, .flyingpsychic:hover, .waterfairy:hover, .fairywater:hover,
  .grassflying:hover, .flyinggrass:hover, .bugflying:hover, .flyingbug:hover,
  .waterground:hover, .groundwater:hover,  .darkflying:hover, .flyingdark:hover,
  .bugsteel:hover, .steelbug:hover,  .groundflying:hover, .flyingground:hover,
  .steelground:hover, .groundsteel:hover, .bugrock:hover, .rockbug:hover,
  .bugfighting:hover, .fightingbug:hover,  .darkice:hover, .icedark:hover,
  .firerock:hover, .rockfire:hover, .iceground:hover, .groundice:hover,
  .steelflying:hover, .flyingsteel:hover, .darkfire:hover, .firedark:hover,
  .waterdragon:hover, .dragonwater:hover, .rockdark:hover, .rockdark:hover,
  .firefighting:hover, .fightingfire:hover, .watergrass:hover, .grasswater:hover,
  .bugwater:hover, .waterbug:hover,  .grassfighting:hover, .fightinggrass:hover,
  .bugground:hover, .groundbug:hover,.bugghost:hover, .ghostbug:hover,
  .darkghost:hover, .ghostdark:hover, .steelfairy:hover, .fairysteel:hover,
  .steelrock:hover, .rocksteel:hover,  .fightingpsychic:hover, .psychicfighting:hover,
  .waterdark:hover, .darkwater:hover, .fireground:hover, .groundfire:hover,
  .rockpsychic:hover, .psychicrock:hover, .groundpsychic:hover, .psychicground:hover,
  .rockgrass:hover, .grassrock:hover, .steelpsychic:hover, .psychicsteel:hover,
  .dragonpsychic:hover, .psychicdragon:hover
  {
    animation: subirBajar 1s infinite alternate;
    color: white;
  }
  /* Mezclas */
  .grasspoison, .poisongrass{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(36, 213, 5), #e229c9);
    cursor: default;
  }

  .grasspsychic, .psychicgrass{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(36, 213, 5), rgb(253, 94, 120));
    cursor: default;
  }

  .fireflying, .flyingfire{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(248, 27, 27), rgb(123, 156, 247));
    cursor: default;
  }

  .bugpoison .poisonbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(22, 165, 22), #e229c9);
    cursor: default;
  }

  .bugflying, .flyingbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(22, 165, 22), rgb(123, 156, 247));
    cursor: default;
  }

  .buggrass, .grassbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(22, 165, 22), rgb(36, 213, 5));
    cursor: default;
  }

  .normalflying, .flyingnormal{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(202, 160, 167), rgb(123, 156, 247));
    cursor: default;
  }

  .poisonground, .groundpoison{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , #981a87,rgb(113, 74, 10));
    cursor: default;
  }

  .poisonflying, .flyingpoison{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , #981a87,rgb(123, 156, 247));
    cursor: default;
  }

  .normalfairy, .fairynormal{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(202, 160, 167), rgb(253, 94, 120));
    cursor: default;
  }

  .waterfighting, .fightingwater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(55, 55, 243), rgb(253, 152, 0));
    cursor: default;
  }

  .waterpoison, .poisonwater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(55, 55, 243), #981a87);
    cursor: default;
  }

  .waterpsychic, .psychicwater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(55, 55, 243), rgb(253, 94, 120));
    cursor: default;
  }

  .waterice, .icewater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(55, 55, 243), rgb(5, 220, 216));
    cursor: default;
  }

  .rockground, .groundrock{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(174, 114, 1),rgb(88, 57, 8));
    cursor: default;
  }

  .electricsteel, .steelelectric{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(215, 212, 0),rgb(143, 154, 140));
    cursor: default;
  }

  .ghostpoison, .poisonghost{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(77, 48, 82), #981a87);
    cursor: default;
  }

  .psychicfairy, .fairypsychic{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(205, 36, 135), rgb(253, 94, 120));
    cursor: default;
  }

  .bugflying, .flyingbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(19, 88, 19), rgb(123, 156, 247));
    cursor: default;
  }

  .icepsychic, .psychicice{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(5, 220, 216), rgb(205, 36, 135));
    cursor: default;
  }

  .waterflying, .flyingwater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(55, 55, 243), rgb(123, 156, 247));
    cursor: default;
  }

  .rockwater, .waterrock{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(113, 74, 10), rgb(55, 55, 243));
    cursor: default;
  }

  .rockflying, .flyingrock{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(113, 74, 10), rgb(123, 156, 247));
    cursor: default;
  }

  .iceflying, .flyinice{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(5, 220, 216), rgb(123, 156, 247));
    cursor: default;
  }

  .electricflying, .flyingelectric{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(215, 212, 0), rgb(123, 156, 247));
    cursor: default;
  }

  .dragonflying, .flyingdragon{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(88, 186, 186), rgb(123, 156, 247));
    cursor: default;
  }

  .bugpoison, .poisonbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(19, 88, 19), rgb(123, 33, 86));
    cursor: default;
  }

  .waterelectric, .electricwater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(55, 55, 243), rgb(215, 212, 0));
    cursor: default;
  }

  .fairyflying, .flyingfairy{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(253, 94, 120), rgb(123, 156, 247));
    cursor: default;
  }

  .psychicflying, .flyingpsychic{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(205, 36, 135), rgb(123, 156, 247));
    cursor: default;
  }

  .waterfairy, .fairywater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(55, 55, 243), rgb(253, 94, 120));
    cursor: default;
  }

  .grassflying, .flyinggrass{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(36, 213, 5), rgb(123, 156, 247));
    cursor: default;
  }

  .bugflying, .flyingbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(19, 88, 19), rgb(123, 156, 247));
    cursor: default;
  }

  .waterground, .groundwater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(55, 55, 243), rgb(88, 57, 8));
    cursor: default;
  }

  .darkflying, .flyingdark{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(76, 83, 76), rgb(123, 156, 247));
    cursor: default;
  }

  .normalpsychic, .psychicnormal{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(202, 160, 167), rgb(205, 36, 135));
    cursor: default;
  }

  .bugsteel, .steelbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(19, 88, 19), rgb(143, 154, 140));
    cursor: default;
  }

  .groundflying, .flyingground{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(88, 57, 8), rgb(123, 156, 247));
    cursor: default;
  }

  .steelground, .groundsteel{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(143, 154, 140),rgb(88, 57, 8));
    cursor: default;
  }

  .bugrock, .rockbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(19, 88, 19), rgb(124, 81, 0));
    cursor: default;
  }

  .darkice, .icedark{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(76, 83, 76), rgb(5, 220, 216));
    cursor: default;
  }
  
  .firerock, .rockfire{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,red, rgb(113, 74, 10));
    cursor: default;
  }

  .iceground, .groundice{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(5, 220, 216),rgb(88, 57, 8));
    cursor: default;
  }

  .steelflying, .flyingsteel{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(143, 154, 140),rgb(123, 156, 247));
    cursor: default;
  }

  .darkfire, .firedark{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(76, 83, 76),red);
    cursor: default;
  }

  .waterdragon, .dragonwater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(55, 55, 243),rgb(88, 186, 186));
    cursor: default;
  }

  .rockdark, .rockdark{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(88, 57, 8), rgb(76, 83, 76));
    cursor: default;
  }

  .firefighting, .fightingfire{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,red, rgb(253, 152, 0));
    cursor: default;
  }

  .watergrass, .grasswater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(55, 55, 243), green);
    cursor: default;
  }

  .grassdark, .darkgrass{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , green,rgb(76, 83, 76));
    cursor: default;
  }

  .bugwater, .waterbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(19, 88, 19),rgb(55, 55, 243));
    cursor: default;
  }

  .grassfighting, .fightinggrass{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,green,rgb(253, 152, 0));
    cursor: default;
  }

  .bugground, .groundbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(19, 88, 19),rgb(88, 57, 8));
    cursor: default;
  }

  .bugghost, .ghostbug{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(19, 88, 19),rgb(77, 48, 82));
    cursor: default;
  }

  .darkghost, .ghostdark{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(76, 83, 76),rgb(77, 48, 82));
    cursor: default;
  }

  .steelfairy, .fairysteel{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(143, 154, 140),rgb(253, 94, 120));
    cursor: default;
  }

  .steelrock, .rocksteel{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(143, 154, 140),rgb(88, 57, 8));
    cursor: default;
  }

  .fightingpsychic, .psychicfighting{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(253, 152, 0),rgb(205, 36, 135));
    cursor: default;
  }

  .waterdark, .darkwater{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , rgb(55, 55, 243),rgb(76, 83, 76));
    cursor: default;
  }

  .fireground, .groundfire{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right , red,rgb(88, 57, 8));
    cursor: default;
  }

  .grounddragon, .dragonground{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(88, 57, 8),rgb(88, 186, 186));
    cursor: default;
  }

  .groundpsychic, .psychicground{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(88, 57, 8),rgb(205, 36, 135));
    cursor: default;
  }

  .rockpsychic, .psychicrock{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(124, 81, 0),rgb(205, 36, 135));
    cursor: default;
  }

  .rockgrass, .grassrock{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right,green ,rgb(124, 81, 0));
    cursor: default;
  }

  .steelpsychic, .psychicsteel{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right,rgb(143, 154, 140) ,rgb(205, 36, 135));
    cursor: default;
  }

  .dragonpsychic, .psychicdragon{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,rgb(88, 186, 186),rgb(205, 36, 135));
    cursor: default;
  }

  .grassground, .groundgrass{
    border: 3px solid;
    border-radius: 20px;
    color: rgb(240, 237, 237);
    background: linear-gradient(to bottom right ,green ,rgb(88, 57, 8));
    cursor: default;
  }
  /* Animacion subir y bajar */
  @keyframes subirBajar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-5px); /* Puedes ajustar la distancia que sube el elemento */
    }
  }