*{
  text-transform: capitalize;
}

table{
  border : 1px solid ;
}

.videoFondo {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.video-foreground {
  position: absolute;
  width: 100%;
}

.texto-sobre-video {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 1; /* Asegura que el texto esté encima del video */
}

.margen{
  margin: auto;
  padding-top: 50px;
}

.efecto-sombra{
  color: white;
  font-weight: 900;
  text-shadow: 3px 3px 0px black;
}