
  <div class="centro">
    <img src="../../assets/img/nombrePokedex.png" width="400px" />
  </div>
  <div class="centro">
    <table>
      <tr>
        <td><b>Buscador pokémon:</b></td>
        <td>
          <input [(ngModel)]="buscadorPokemon"><!-- Buscador -->
          <app-interior>
            [mensajeDeEntrada]="buscadorPokemon"
            (mensajeDeSalida)="buscamos"
          </app-interior>
        </td>
        <td></td>
        <td><b>Buscador avanzado:</b></td>
        <td>
          <button *ngIf="menuAbierto == false" (click)="abrirMenu()"><img src="../../assets/img/pokeballCerrada.png"
              width="30px" /></button>
          <button *ngIf="menuAbierto == true" (click)="abrirMenu()"><img
              src="../../assets/img/pokeballAbierta.png" width="30px" /></button>
        </td>
      </tr>
    </table>
  </div>
  <!-- Opciones del buscador avanzado --> 
  <p class="centro" *ngIf="menuAbierto"><b>Selecciona el tipo que deseas buscar</b></p>
  <div class="centro" *ngIf="menuAbierto"> 
    <table>
      <tr>
        <td class="fire">Fuego</td>
        <td class="water">Agua</td>
        <td class="grass">Planta</td>
        <td class="bug">Bicho</td>
        <td class="dark">Siniestro</td>
        <td class="dragon">Dragón</td>
        <td class="electric">Eléctrico</td>
        <td class="fairy">Hada</td>
        <td class="fighting">Lucha</td>
      </tr>
      <tr>
        <td class="flying">Volador</td>
        <td class="ghost">Fantasma</td>
        <td class="ground">Tierra</td>
        <td class="ice">Hielo</td>
        <td class="normal">Normal</td>
        <td class="poison">Veneno</td>
        <td class="psychic">Psíquico</td>
        <td class="rock">Roca</td>
        <td class="steel">Acero</td>
      </tr>
    </table>
  </div>