<table>
  <tr>
    <td class="fire">Fuego</td>
    <td class="water">Agua</td>
    <td class="grass">Planta</td>
    <td class="bug">Bicho</td>
    <td class="dark">Siniestro</td>
    <td class="dragon">Dragón</td>
    <td class="electric">Eléctrico</td>
    <td class="fairy">Hada</td>
    <td class="fighting">Lucha</td>
    <td class="flying">Volador</td>
    <td class="ghost">Fantasma</td>
    <td class="ground">Tierra</td>
    <td class="ice">Hielo</td>
    <td class="normal">Normal</td>
    <td class="poison">Veneno</td>
    <td class="psychic">Psíquico</td>
    <td class="rock">Roca</td>
    <td class="steel">Acero</td>
  </tr>
</table>

